{% extends 'base.html' %} {% block content %}
<link rel = "stylesheet"
   type = "text/css"
   href = "style.css" />
<h1>Welcome to WebChatApp</h1>
<h1 class="is-size-1">Home</h1>
{% if messages %}
  {% for message in messages %}
    <h1>message</h1>
  {% endfor %}
{% endif %}

<br />
<div class="columns">
  <div class="column">
    <a href="/auth/signup/" class="button">Signup</a>
  </div>
  <div class="column">
    <a href="/login/" class="button">Login</a>
  </div>
</div>
{% endblock content %}
